*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

/*
    CSS for header section
*/

.clearfix{
    clear: both;
    float: none;
}
.logo{
    float: left;
    
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
   
}

.Header{
    line-height: 100px;
}

.Header ul{
    list-style-type: none;
}

.Header ul li{
    display: inline;

}